.rot-img {
    -moz-transition: all 4s ease-in-out;
    -webkit-transition: all 4s ease-in-out;
    transition: all 4s ease;
}

img.rot-img {
    max-width: 400px;
    max-height: 400px;    
    object-fit: contain;
    transition: all 4s ease-in-out;
  }

  .rotImgWrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }