.App {
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  height:92vh; 
}

div#root {
  padding: 4vh;
  background: red;
  background-image:url("https://i.pinimg.com/originals/3c/2a/b7/3c2ab74d2fee96db0c01e993f13b73cf.gif");
  background-size:cover; 
}


